.formborder {
  border-radius: 5px;
  border: 5px solid lightslategray;
  background-color: lightslategray;
  justify-content: center;
}

.centered {
  display: flex;
  justify-content: center;
}
input:active {
  outline: none;
}
.yes {
  display: flex;
  flex-direction: row;
}
